*~
*.o
a.out
*.class
.*
/target/
/llvm/target.llvm/
/vm/binaries/
/vm/target/
/compiler/target/
/llvm/target/
/libimobiledevice/target/
/rt/target/
/cacerts/target/
/cacerts/full/target/
/objc/target/
/cocoatouch/target/
/eclipse/target/
/eclipse/ui/target/
/eclipse/feature/target/
/eclipse/update-site/target/
/dist/target/
/dist/compiler/target/
/dist/package/target/
/tests/dalvik/robovm*.env
/tests/libcore/target/
/tests/robovm/target/
/tests/drlvm/robovm-vts.env
/tests/drlvm-vts-bundle/
/tests/libcore/sqliteTest*.db
/eclipse/ui/lib/
/tmp/
!/tests/robovm/src/test/resources/META-INF/**/*.o
