<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.nullvm.ide.wizards.category" name="NullVM"/>
    <wizard
      canFinishEarly="false"
      category="org.nullvm.ide.wizards.category"
      class="org.nullvm.ide.internal.NewProjectWizard"
      finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
      hasPages="true"
      icon="icons/new_nullvm_project.png"
      id="org.nullvm.ide.NewProjectWizard"
      name="NullVM Project"
      preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
      project="true"/>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
      <newWizardShortcut id="org.nullvm.ide.NewProjectWizard" />
    </perspectiveExtension>
  </extension>  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.nullvm.ide.internal.NullVMClasspathContainerInitializer"
      id="org.nullvm.ide.NULLVM_CONTAINER">
    </classpathContainerInitializer>
  </extension>
  <extension point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
      id="org.nullvm.ide.NULLVM_CONTAINER"
      name="NullVM Runtime Library"
      class="org.nullvm.ide.internal.NullVMClasspathContainerPage">
    </classpathContainerPage>
  </extension>
  <extension
    id="org.nullvm.ide.NullVMClassBuilder"
    name="NullVM Class Builder"
    point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="org.nullvm.ide.internal.NullVMClassBuilder" />
    </builder>
  </extension>
  <extension
    id="org.nullvm.ide.NullVMNature"
    name="NullVM Project Nature"
    point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.nullvm.ide.internal.NullVMNature" />
    </runtime>
    <builder id="org.nullvm.ide.NullVMClassBuilder" />
    <requires-nature id="org.eclipse.jdt.core.javanature"/>
  </extension>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      id="org.nullvm.ide.ConsoleLaunchConfigurationType"
      delegate="org.nullvm.ide.internal.ConsoleLaunchConfigurationDelegate"
      delegateName="NullVM Console Launcher"
      modes="debug, run"
      name="NullVM Console Application"
      public="true"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
    <launchConfigurationType
      id="org.nullvm.ide.IOSSimLaunchConfigurationType"
      delegate="org.nullvm.ide.internal.IOSSimLaunchConfigurationDelegate"
      delegateName="NullVM iOS-sim Launcher"
      modes="debug, run"
      name="NullVM iOS-sim Application"
      public="true"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        class="org.nullvm.ide.internal.NullVMLaunchConfigurationTabGroup"
        description="NullVM Console Application"
        id="org.nullvm.ide.ConsoleLaunchConfigurationTabGroup"
        type="org.nullvm.ide.ConsoleLaunchConfigurationType" />
    <launchConfigurationTabGroup
        class="org.nullvm.ide.internal.NullVMLaunchConfigurationTabGroup"
        description="NullVM iOS-sim Application"
        id="org.nullvm.ide.IOSSimLaunchConfigurationTabGroup"
        type="org.nullvm.ide.IOSSimLaunchConfigurationType" />
  </extension>
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        class="org.nullvm.ide.internal.ConsoleLaunchShortcut"
        id="org.nullvm.ide.ConsoleLaunchShortcut"
        label="NullVM Console Application"
        modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <or>
                  <test property="org.eclipse.jdt.launching.hasMain"/>
                  <test property="org.eclipse.jdt.launching.isContainer"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                </or>
              </and>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    <shortcut
        class="org.nullvm.ide.internal.IOSSimLaunchShortcut"
        id="org.nullvm.ide.IOSSimLaunchShortcut"
        label="NullVM iOS-sim Application"
        modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <or>
                  <test property="org.eclipse.jdt.launching.hasMain"/>
                  <test property="org.eclipse.jdt.launching.isContainer"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                </or>
              </and>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.nullvm.ide.internal.NullVMPreferenceInitializer"/>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page
      class="org.nullvm.ide.internal.NullVMPreferencePage"
      id="org.nullvm.ide.preferences.main"
      name="NullVM" />
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
    <page
      class="org.nullvm.ide.internal.NullVMPropertyPage"
      id="org.nullvm.ide.NullVMPropertyPage"
      name="NullVM"
      nameFilter="*">
      <enabledWhen>
        <and>
          <adapt type="org.eclipse.core.resources.IProject"/>
          <test property="org.eclipse.jdt.launching.hasProjectNature" 
                args="org.nullvm.ide.NullVMNature" />
        </and>
      </enabledWhen>
    </page>
  </extension>
</plugin>
