<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.robovm.eclipse.wizards.category" name="RoboVM"/>
    <wizard
      canFinishEarly="false"
      category="org.robovm.eclipse.wizards.category"
      class="org.robovm.eclipse.internal.NewProjectWizard"
      finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
      hasPages="true"
      icon="icons/new_robovm_project.png"
      id="org.robovm.eclipse.NewProjectWizard"
      name="RoboVM Project"
      preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
      project="true"/>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.robovm.eclipse.wizards.category" name="RoboVM"/>
    <wizard
      canFinishEarly="false"
      category="org.robovm.eclipse.wizards.category"
      class="org.robovm.eclipse.internal.NewCocoaTouchProjectWizard"
      finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
      hasPages="true"
      icon="icons/new_robovm_cocoa_touch_project.png"
      id="org.robovm.eclipse.NewCocoaTouchProjectWizard"
      name="RoboVM Cocoa Touch Project"
      preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
      project="true"/>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
      <newWizardShortcut id="org.robovm.eclipse.NewProjectWizard" />
      <newWizardShortcut id="org.robovm.eclipse.NewCocoaTouchProjectWizard" />
    </perspectiveExtension>
  </extension>  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.robovm.eclipse.internal.RoboVMClasspathContainerInitializer"
      id="org.robovm.eclipse.ROBOVM_CONTAINER">
    </classpathContainerInitializer>
  </extension>
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.robovm.eclipse.internal.RoboVMCocoaTouchClasspathContainerInitializer"
      id="org.robovm.eclipse.ROBOVM_COCOA_TOUCH_CONTAINER">
    </classpathContainerInitializer>
  </extension>
  <extension point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
      id="org.robovm.eclipse.ROBOVM_CONTAINER"
      name="RoboVM Runtime Library"
      class="org.robovm.eclipse.internal.RoboVMClasspathContainerPage">
    </classpathContainerPage>
  </extension>
  <extension point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
      id="org.robovm.eclipse.ROBOVM_COCOA_TOUCH_CONTAINER"
      name="RoboVM CocoaTouch Library"
      class="org.robovm.eclipse.internal.RoboVMCocoaTouchClasspathContainerPage">
    </classpathContainerPage>
  </extension>
  <extension
    id="org.robovm.eclipse.RoboVMClassBuilder"
    name="RoboVM Class Builder"
    point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="org.robovm.eclipse.internal.RoboVMClassBuilder" />
    </builder>
  </extension>
  <extension
    id="org.robovm.eclipse.RoboVMNature"
    name="RoboVM Project Nature"
    point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.robovm.eclipse.internal.RoboVMNature" />
    </runtime>
    <builder id="org.robovm.eclipse.RoboVMClassBuilder" />
    <requires-nature id="org.eclipse.jdt.core.javanature"/>
  </extension>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      id="org.robovm.eclipse.ConsoleLaunchConfigurationType"
      delegate="org.robovm.eclipse.internal.ConsoleLaunchConfigurationDelegate"
      delegateName="RoboVM Console Launcher"
      modes="debug, run"
      name="Console Application"
      public="true"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
    <launchConfigurationType
      id="org.robovm.eclipse.IOSSimulatorLaunchConfigurationType"
      delegate="org.robovm.eclipse.internal.IOSSimulatorLaunchConfigurationDelegate"
      delegateName="iOS Simulator Launcher"
      modes="debug, run"
      name="iOS Simulator App"
      public="true"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
    <launchConfigurationType
      id="org.robovm.eclipse.IOSDeviceLaunchConfigurationType"
      delegate="org.robovm.eclipse.internal.IOSDeviceLaunchConfigurationDelegate"
      delegateName="iOS Device Launcher"
      modes="debug, run"
      name="iOS Device App"
      public="true"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        class="org.robovm.eclipse.internal.RoboVMLaunchConfigurationTabGroup"
        description="Console Application"
        id="org.robovm.eclipse.ConsoleLaunchConfigurationTabGroup"
        type="org.robovm.eclipse.ConsoleLaunchConfigurationType" />
    <launchConfigurationTabGroup
        class="org.robovm.eclipse.internal.IOSSimulatorLaunchConfigurationTabGroup"
        description="iOS Simulator App"
        id="org.robovm.eclipse.IOSSimulatorLaunchConfigurationTabGroup"
        type="org.robovm.eclipse.IOSSimulatorLaunchConfigurationType" />
    <launchConfigurationTabGroup
        class="org.robovm.eclipse.internal.RoboVMLaunchConfigurationTabGroup"
        description="iOS Device App"
        id="org.robovm.eclipse.IOSDeviceLaunchConfigurationTabGroup"
        type="org.robovm.eclipse.IOSDeviceLaunchConfigurationType" />
  </extension>
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        class="org.robovm.eclipse.internal.ConsoleLaunchShortcut"
        id="org.robovm.eclipse.ConsoleLaunchShortcut"
        label="Console Application"
        modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <or>
                  <test property="org.eclipse.jdt.launching.hasMain"/>
                  <test property="org.eclipse.jdt.launching.isContainer"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                </or>
              </and>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    <shortcut
        class="org.robovm.eclipse.internal.IPhoneSimulatorLaunchShortcut"
        id="org.robovm.eclipse.IPhoneSimulatorLaunchShortcut"
        label="iOS Simulator App (iPhone)"
        modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <or>
                  <test property="org.eclipse.jdt.launching.hasMain"/>
                  <test property="org.eclipse.jdt.launching.isContainer"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                </or>
              </and>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    <shortcut
        class="org.robovm.eclipse.internal.IPadSimulatorLaunchShortcut"
        id="org.robovm.eclipse.IPadSimulatorLaunchShortcut"
        label="iOS Simulator App (iPad)"
        modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <or>
                  <test property="org.eclipse.jdt.launching.hasMain"/>
                  <test property="org.eclipse.jdt.launching.isContainer"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                </or>
              </and>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    <shortcut
        class="org.robovm.eclipse.internal.IOSDeviceLaunchShortcut"
        id="org.robovm.eclipse.IOSDeviceLaunchShortcut"
        label="iOS Device App"
        modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <or>
                  <test property="org.eclipse.jdt.launching.hasMain"/>
                  <test property="org.eclipse.jdt.launching.isContainer"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                  <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                </or>
              </and>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.robovm.eclipse.internal.RoboVMPreferenceInitializer"/>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page
      class="org.robovm.eclipse.internal.RoboVMPreferencePage"
      id="org.robovm.eclipse.preferences.main"
      name="RoboVM" />
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
    <page
      class="org.robovm.eclipse.internal.RoboVMPropertyPage"
      id="org.robovm.eclipse.RoboVMPropertyPage"
      name="RoboVM"
      nameFilter="*">
      <enabledWhen>
        <and>
          <adapt type="org.eclipse.core.resources.IProject"/>
          <test property="org.eclipse.jdt.launching.hasProjectNature" 
                args="org.robovm.eclipse.RoboVMNature" />
        </and>
      </enabledWhen>
    </page>
  </extension>
</plugin>
